.inventory-icon{
  margin-right: 20px;
  transform: scale(2);

  &:hover{
    cursor: pointer;
  }
}
.navbar-text{
  &:hover{
    cursor: pointer;
  }
}
mat-toolbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}
.user-button{
  font-size: 20px;
  .user-icon{
    font-size: 23px;
    margin-right: 7px;
  }

}
